{% extends "base.html" %}
{% block title_en_US %} Order {{ order.id }} - {{ order.status }} - {{ app.config['APP_NAME'] }}{% endblock %}
{% block content %}
<div class="container">
    <h3>Order {{ order.id }} - {{ order.status }}</h3>
    {% if order.status == 'cart' %}
        <h4 class="text-right btn btn-primary btn-lg"><a href="{{ url_for('payments_page.payment_checkout', order_id = order.id) }}"><span class="glyphicon glyphicon-credit-card"></span> Checkout</a></h4>
    {% endif %}
    
    <h4 class="text-right"><a href="/orders"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></h4>
    <hr/>

    <p>{{ order.status }}</p>
    
    <!-- ONE-TO-MANY -->
    <p> User :
        {% if order.user %}
            {{ order.user.username }}
        {% else %}
            No User
        {% endif %}
    </p>

    <!-- ONE-TO-MANY -->
    <p> Payments :
        {% if order.payments %}
            {% for payment in order.payments %}
                {{ payment.id }}
            {% endfor %}
        {% else %}
            No Payments
        {% endif %}
    </p>

    <!-- MANY-TO-MANY -->
    <p>
        {% if order.items %}
            {% for orderitem in order.orderitems %}
                {{ orderitem.item.title_en_US }} | 
                unit amount : {{ orderitem.unit_amount }} | 
                quantity : {{ orderitem.quantity }} | 
                Amount :{{ orderitem.total_amount }} | 
                {% if order.status == 'cart' %}
                    <a class="btn btn-sm btn-primary" href="{{ url_for('orders_page.update_cart', item_id = orderitem.item.id, quantity=1) }}" ><i class="glyphicon glyphicon-plus"></i> </a> | 
                    <a class="btn btn-sm btn-default" href="{{ url_for('orders_page.update_cart', item_id = orderitem.item.id, quantity=-1) }}" ><i class="glyphicon glyphicon-minus"></i> </a> | 
                    <a class="btn btn-sm btn-danger" href="{{ url_for('orders_page.remove_cart', item_id = orderitem.item.id) }}" onclick="return confirm('Are you sure you want to remove this item from cart ?');"><i class="glyphicon glyphicon-remove"></i> </a>                
                {% endif %}
                <br/>
            {% endfor %}
        {% else %}
            No items
        {% endif %}
    </p>
    <p>{{ order.amount }}</p>
    <p>{{ order.params }}</p>
    <p>{{ order.comments }}</p>
    <p>{{ order.is_active }}</p>
    <p>{{ order.updated_at }}</p>
    <p>{{ order.created_at }}</p>
</div>
{% endblock content %}

