{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3>{{ title_en_US }}</h3>
    <hr/>
    <div class="row">
        <div class="col-lg-8 col-centered">
            <div class="well">
                <form method="POST" action="{{ form.action }}" role="form" class="form-horizontal" accept-charset="utf-8">

                    <input id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" type="hidden">
                    <fieldset>
                        <legend>Form event</legend>

                        <div class="form-group">
                            <label for="event_type" class="col-lg-4 control-label">{{ form.type.label }}</label>
                            <div class="col-lg-6">
                                {{ form.type (class="form-control") }}
                                <!-- <input class="form-control" id="event_type" name="event_type" required="" value="" type="text"> -->
                                {% for error in form.errors.type %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="event_title_en_US" class="col-lg-4 control-label">{{ form.title_en_US.label }}</label>

                            <div class="col-lg-6">
                                {{ form.title_en_US (class="form-control") }}
                                <!-- <input class="form-control" id="event_title_en_US" name="event_title_en_US" required="" value="" type="text"> -->
                                {% for error in form.errors.title_en_US %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="event_title_fr_FR" class="col-lg-4 control-label">{{ form.title_fr_FR.label }}</label>

                            <div class="col-lg-6">
                                {{ form.title_fr_FR (class="form-control") }}
                                <!-- <input class="form-control" id="event_title_fr_FR" name="event_title_fr_FR" required="" value="" type="text"> -->
                                {% for error in form.errors.title_fr_FR %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="event_description_en_US" class="col-lg-4 control-label">{{ form.description_en_US.label }}</label>

                            <div class="col-lg-6">
                                {{ form.description_en_US (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="event_description_en_US" name="event_description_en_US">form.description_en_US.data</textarea> -->
                                {% for error in form.errors.description_en_US %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="event_description_fr_FR" class="col-lg-4 control-label">{{ form.description_fr_FR.label }}</label>

                            <div class="col-lg-6">
                                {{ form.description_fr_FR (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="event_description_fr_FR" name="event_description_fr_FR">form.description_fr_FR.data</textarea> -->
                                {% for error in form.errors.description_fr_FR %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="event_amount" class="col-lg-4 control-label">{{ form.amount.label }}</label>
                            <div class="col-lg-6">
                                {{ form.amount (class="form-control") }}
                                <!-- <input class="form-control" id="event_amount" name="event_amount" required="" value="" type="text"> -->
                                {% for error in form.errors.amount %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <!-- ONE-TO-MANY -->
                        <div class="form-group">
                            <label for="event_user" class="col-lg-4 control-label">{{ form.user.label }}</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="user" name="user" >
                                    <option value="" >None</option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}" {% if form.user.data == user.id %} selected="selected"{% endif %} >{{user.username}}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.errors.user %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- ONE-TO-MANY -->
                        <div class="form-group">
                            <label for="event_address" class="col-lg-4 control-label">{{ form.address.label }}</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="address" name="address" >
                                    <option value="" >None</option>
                                    {% for address in addresses %}
                                        <option value="{{ address.id }}" {% if form.address.data == address.id %} selected="selected"{% endif %} >{{address.title_en_US}}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.errors.address %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- ONE-TO-MANY -->
                        <div class="form-group">
                            <label for="event_item" class="col-lg-4 control-label">{{ form.item.label }}</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="item" name="item" >
                                    <option value="" >None</option>
                                    {% for item in items %}
                                        <option value="{{ item.id }}" {% if form.item.data == item.id %} selected="selected"{% endif %} >{{item.slug}}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.errors.item %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- MANY-TO-MANY RELATIONSHIP -->
                        <div class="form-group">
                            <label for="event_guests" class="col-lg-4 control-label">{{ form.guests.label }}</label>
                            <div class="col-lg-6">
                               <select class="form-control" id="guests" name="guests" multiple="" >
                                   <option value="" >None</option>
                                    {% for guest in guests %}
                                        <option value="{{ guest.id }}"
                                        {% if form.guests.data %}
                                            {% for guest2 in form.guests.data %}
                                                {% if guest.id == guest2.id %}
                                                    selected="selected"
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        >
                                        {{guest.username}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="event_start" class="col-lg-4 control-label">{{ form.start.label }}</label>

                            <div class="col-lg-6 input-group date" >
        
                                <input value="{{ form.start.data }}" class="form-control datepicker"  data-provide="datepicker" data-date-format="yyyy-mm-dd" id="start" name="start" required="" type="text">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                {% for error in form.errors.start %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="event_end" class="col-lg-4 control-label">{{ form.end.label }}</label>

                            <div class="col-lg-6 input-group date" >
        
                                <input value="{{ form.end.data }}" class="form-control datepicker"  data-provide="datepicker" data-date-format="yyyy-mm-dd" id="end" name="end" required="" type="text">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                {% for error in form.errors.end %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>




                        <div class="form-group">
                            <label for="event_allday" class="col-lg-4 control-label">{{ form.allday.label }}</label>
                            <div class="col-lg-6">
                                {{ form.allday (class="form-control") }}
                                <!-- <input type="checkbox" name="check" value="{{ form.allday.data }}"> -->
                                {% for error in form.errors.allday %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="event_status" class="col-lg-4 control-label">{{ form.status.label }}</label>
                            <div class="col-lg-6">
                                {{ form.status (class="form-control") }}
                                <!-- <input class="form-control" id="event_status" name="event_status" required="" value="" type="text"> -->
                                {% for error in form.errors.status %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="event_is_active" class="col-lg-4 control-label">{{ form.is_active.label }}</label>
                            <div class="col-lg-6">
                                {{ form.is_active (class="form-control") }}
                                <!-- <input type="checkbox" name="check" value="{{ form.is_active.data }}"> -->
                                {% for error in form.errors.is_active %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-4  col-lg-offset-4">

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>



    </div>
</div>
{% endblock content %}

{% block tail_script %}
<script>    

    $('#start')
        .datepicker({
            setDate: new Date(),
            autoclose: true,
             language: 'fr-FR',
             dateFormat: "yyyy-mm-dd"
        });


    $('#end')
        .datepicker({
            setDate: new Date(),
            autoclose: true,
             language: 'fr-FR',
             dateFormat: "yyyy-mm-dd"
        });


</script>

<script>

$('textarea').tinymce({
  forced_root_block : "",
  selector: 'textarea',
  cleanup : true,
  height: 200,
  menubar: false,
  images_upload_base_path: '{{url_for('static', filename='uploads/')}}',
  images_reuse_filename: true,
  plugins: [
    'textcolor advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor | backcolor',
  content_css: '//www.tinymce.com/css/codepen.min.css'
});



</script>
 {% endblock tail_script %}
