{% extends "base.html" %}
{% block title_en_US %} {{ event.id }} - {{ event['title_%s' %(g.current_lang)] }} - {{ app.config['APP_NAME'] }}{% endblock %}
{% block content %}
<div class="container">
    <h3>{{ event.id }} - {{ event['title_%s' %(g.current_lang)] }}</h3>
    <h4 class="text-right"><a href="/events"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></h4>
    <hr/>

    <p>{{ event.type }}</p>
    <p>{{ event['description_%s' %(g.current_lang)] | parse_html}}</p>
    <p>{{ event.amount }}</p>

    <!-- ONE-TO-MANY -->
    <p> User :
        {% if event.user %}
            {{ event.user.username }}
        {% else %}
            No User
        {% endif %}
    </p>

    <!-- ONE-TO-MANY -->
    <p>
        {% if event.address %}
            {{ event.address.title_en_US }}
        {% else %}
            No address
        {% endif %}
    </p>

    <!-- ONE-TO-MANY -->
    <p> Item :
        {% if event.item %}
            {{ event.item.slug }}
        {% else %}
            No Item
        {% endif %}
    </p>

    <!-- ONE-TO-MANY -->
    <p> Address :
        {% if event.address %}
            {{ event.address['title_%s' %(g.current_lang)]  }}
        {% else %}
            No address
        {% endif %}
    </p>

    <!-- MANY-TO-MANY -->
    <p>
        {% if event.guests %}
            {% for guest in event.guests %}
                {{ guest.username }}, 
            {% endfor %}
        {% else %}
            No guests
        {% endif %}
    </p>
    <p>{{ event.start | datetimeformat }}</p>
    <p>{{ event.end | datetimeformat }}</p>
    
    <p>{{ event.days }}</p>
    <p>{{ event.allday }}</p>
    <p>{{ event.status }}</p>
    
    <p>{{ event.is_active }}</p>
    <p>{{ event.updated_at | datetimeformat }}</p>
    <p>{{ event.created_at | datetimeformat }}</p>
</div>
{% endblock content %}

