{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3>{{ title_en_US }}</h3>
    <hr/>
    <div class="row">
        <div class="col-lg-8 col-centered">
            <div class="well">
                <form method="POST" action="{{ form.action }}" enctype="multipart/form-data" role="form" class="form-horizontal" accept-charset="utf-8">

                    <input id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" type="hidden">
                    <fieldset>
                        <legend>Form creditcard</legend>


                        <div class="form-group">
                            <label for="creditcard_status" class="col-lg-4 control-label">{{ form.status.label }}</label>

                            <div class="col-lg-6">
                                {{ form.status (class="form-control") }}
                                <!-- <input class="form-control" id="creditcard_status" name="creditcard_status" required="" value="" type="text"> -->
                                {% for error in form.errors.status %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="creditcard_key_id" class="col-lg-4 control-label">{{ form.key_id.label }}</label>

                            <div class="col-lg-6">
                                {{ form.key_id (class="form-control") }}
                                <!-- <input class="form-control" id="creditcard_key_id" name="creditcard_key_id" required="" value="" type="text"> -->
                                {% for error in form.errors.key_id %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <!-- ONE-TO-MANY -->
                        <div class="form-group">
                            <label for="creditcard_user" class="col-lg-4 control-label">{{ form.user.label }}</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="user" name="user" >
                                    <option value="" >None</option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}" {% if form.user.data == user.id %} selected="selected"{% endif %} >{{user.username}}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.errors.user %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="creditcard_type" class="col-lg-4 control-label">{{ form.type.label }}</label>

                            <div class="col-lg-6">
                                {{ form.type (class="form-control") }}
                                <!-- <input class="form-control" id="creditcard_type" name="creditcard_type" required="" value="" type="text"> -->
                                {% for error in form.errors.type %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="creditcard_encrypted_number" class="col-lg-4 control-label">{{ form.encrypted_number.label }}</label>

                            <div class="col-lg-6">
                                {{ form.encrypted_number (class="form-control") }}
                                <!-- <input class="form-control" id="creditcard_encrypted_number" name="creditcard_encrypted_number" required="" value="" type="text"> -->
                                {% for error in form.errors.encrypted_number %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="creditcard_expire_month" class="col-lg-4 control-label">{{ form.expire_month.label }}</label>

                            <div class="col-lg-6">
                                {{ form.expire_month (class="form-control") }}
                                <!-- <input class="form-control" id="creditcard_expire_month" name="creditcard_expire_month" required="" value="" type="text"> -->
                                {% for error in form.errors.expire_month %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="creditcard_expire_year" class="col-lg-4 control-label">{{ form.expire_year.label }}</label>

                            <div class="col-lg-6">
                                {{ form.expire_year (class="form-control") }}
                                <!-- <input class="form-control" id="creditcard_expire_year" name="creditcard_expire_year" required="" value="" type="text"> -->
                                {% for error in form.errors.expire_year %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="creditcard_first_name" class="col-lg-4 control-label">{{ form.first_name.label }}</label>

                            <div class="col-lg-6">
                                {{ form.first_name (class="form-control") }}
                                <!-- <input class="form-control" id="creditcard_first_name" name="creditcard_first_name" required="" value="" type="text"> -->
                                {% for error in form.errors.first_name %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="creditcard_last_name" class="col-lg-4 control-label">{{ form.last_name.label }}</label>

                            <div class="col-lg-6">
                                {{ form.last_name (class="form-control") }}
                                <!-- <input class="form-control" id="creditcard_last_name" name="creditcard_last_name" required="" value="" type="text"> -->
                                {% for error in form.errors.last_name %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="creditcard_params" class="col-lg-4 control-label">{{ form.params.label }}</label>

                            <div class="col-lg-6">
                                {{ form.params (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="creditcard_params" name="creditcard_params">form.params.data</textarea> -->
                                {% for error in form.errors.params %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="creditcard_comments" class="col-lg-4 control-label">{{ form.comments.label }}</label>

                            <div class="col-lg-6">
                                {{ form.comments (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="creditcard_comments" name="creditcard_comments">form.comments.data</textarea> -->
                                {% for error in form.errors.comments %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="creditcard_is_active" class="col-lg-4 control-label">{{ form.is_active.label }}</label>
                            <div class="col-lg-6">
                                {{ form.is_active (class="form-control") }}
                                <!-- <input type="checkbox" name="check" value="{{ form.is_active.data }}"> -->
                                {% for error in form.errors.is_active %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-4  col-lg-offset-4">

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>



    </div>
</div>


{% endblock content %}
