{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3>{{ title_en_US }}</h3>
    <hr/>
    <div class="row">
        <div class="col-lg-8 col-centered">
            <div class="well">
                <form method="POST" action="{{ form.action }}" enctype="multipart/form-data" role="form" class="form-horizontal" accept-charset="utf-8">
                    
                    <input id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" type="hidden">
                    <fieldset>
                        <legend>Form asset</legend>

                        {% if form.data_file_name.data %}
                        <div class="form-group">
                            <label for="asset_data_file_name" class="col-lg-4 control-label">{{ form.data_file_name.data }}</label>

                            <div class="col-lg-6 text-center">
                                {% if form.asset_type.data == 'image' %}    
                                    <img src=" {{url_for('static', filename='uploads/' + form.data_file_name.data)}}" width="100" class="img-thumbnail">
                                {% else %}
                                    <i class="glyphicon glyphicon-file" style="font-size: 100px;"></i>
                                {% endif %}
                            </div>
                        </div>
                            
                        {% endif %}

                        <div class="form-group">
                            <label for="asset_data_file_name" class="col-lg-4 control-label">{{ form.data_file_name.label }}</label>

                            <div class="col-lg-6">
                                {{ form.data_file_name (class="form-control") }}
                                <!-- <input class="form-control" id="data_file_name" name="data_file_name" required="" value="" type="file"> -->
                                {% for error in form.errors.data_file_name %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_data_content_type" class="col-lg-4 control-label">{{ form.data_content_type.label }}</label>

                            <div class="col-lg-6">
                                {{ form.data_content_type (class="form-control") }}
                                <!-- <input class="form-control" id="asset_data_content_type" name="asset_data_content_type" required="" value="" type="text"> -->
                                {% for error in form.errors.data_content_type %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_data_file_size" class="col-lg-4 control-label">{{ form.data_file_size.label }}</label>

                            <div class="col-lg-6">
                                {{ form.data_file_size (class="form-control") }}
                                <!-- <input class="form-control" id="asset_data_file_size" name="asset_data_file_size" required="" value="" type="text"> -->
                                {% for error in form.errors.data_file_size %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_asset_type" class="col-lg-4 control-label">{{ form.asset_type.label }}</label>

                            <div class="col-lg-6">
                                {{ form.asset_type (class="form-control") }}
                                <!-- <input class="form-control" id="asset_asset_type" name="asset_asset_type" required="" value="" type="text"> -->
                                {% for error in form.errors.asset_type %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_width" class="col-lg-4 control-label">{{ form.width.label }}</label>

                            <div class="col-lg-6">
                                {{ form.width (class="form-control") }}
                                <!-- <input class="form-control" id="asset_width" name="asset_width" required="" value="" type="text"> -->
                                {% for error in form.errors.width %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_height" class="col-lg-4 control-label">{{ form.height.label }}</label>

                            <div class="col-lg-6">
                                {{ form.height (class="form-control") }}
                                <!-- <input class="form-control" id="asset_height" name="asset_height" required="" value="" type="text"> -->
                                {% for error in form.errors.height %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="asset_description_en_US" class="col-lg-4 control-label">{{ form.description_en_US.label }}</label>

                            <div class="col-lg-6">
                                {{ form.description_en_US (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="asset_description_en_US" name="asset_description_en_US">form.description_en_US.data</textarea> -->
                                {% for error in form.errors.description_en_US %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_description_fr_FR" class="col-lg-4 control-label">{{ form.description_fr_FR.label }}</label>

                            <div class="col-lg-6">
                                {{ form.description_fr_FR (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="asset_description_fr_FR" name="asset_description_fr_FR">form.description_fr_FR.data</textarea> -->
                                {% for error in form.errors.description_en_US %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        

                        <!-- ONE-TO-MANY -->
                        <div class="form-group">
                            <label for="asset_user" class="col-lg-4 control-label">{{ form.user.label }}</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="user" name="user" >
                                    <option value="" >None</option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}" {% if form.user.data == user.id %} selected="selected"{% endif %} >{{user.username}}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.errors.user %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>



                        <!-- MANY-TO-MANY RELATIONSHIP -->
                        <div class="form-group">
                            <label for="asset_items" class="col-lg-4 control-label">{{ form.items.label }}</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="items" name="items" multiple="" >
                                    <option value="" >None</option>
                                    {% for item in items %}
                                        <option value="{{ item.id }}"
                                        {% if form.items.data %}
                                            {% for item2 in form.items.data %}
                                                {% if item.id == item2.id %}
                                                    selected="selected"
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        >
                                        {{item.title_en_US}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="asset_is_active" class="col-lg-4 control-label">{{ form.is_active.label }}</label>
                            <div class="col-lg-6">
                                {{ form.is_active (class="form-control") }}
                                <!-- <input type="checkbox" name="check" value="{{ form.is_active.data }}"> -->
                                {% for error in form.errors.is_active %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-4  col-lg-offset-4">

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>



    </div>
</div>

{% endblock content %}
