{% extends "base.html" %}
{% block title_en_US %} {{ asset.id }} - {{ asset.data_file_name }} - {{ app.config['APP_NAME'] }}{% endblock %}
{% block content %}
<div class="container">
    <h3>{{ asset.id }} - {{ asset.data_file_name }}</h3>
    <h4 class="text-right"><a href="/assets"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></h4>
    <hr/>

    <p>
    {% if asset.asset_type == 'image' %}    
        <a href="{{url_for('static', filename='uploads/' + asset.data_file_name)}}">
            <img src=" {{url_for('static', filename='uploads/' + asset.data_file_name)}}" width="100" class="img-thumbnail">
        </a>
    {% else %}
        <a href="{{url_for('static', filename='uploads/' + asset.data_file_name)}}">
            <i class="glyphicon glyphicon-file" style="font-size: 100px;"></i>
        </a>
    {% endif %}
    <br/>{{ asset.data_file_name }}</p>
    <p>{{ asset.data_content_type }}</p>
    <p>{{ asset.data_file_size }}</p>

    <p>{{ asset.asset_type }}</p>
    
    <!-- ONE-TO-MANY -->
    <p> User :
        {% if asset.user %}
            {{ asset.user.username }}
        {% else %}
            No User
        {% endif %}
    </p>

    <!-- MANY-TO-MANY -->
    <p>
        {% if asset.items %}
            {% for item in asset.items %}
                {{ item.title_en_US }}, 
            {% endfor %}
        {% else %}
            No items
        {% endif %}
    </p>

    <p>{{ asset.width }}</p>
    <p>{{ asset.height }}</p>
    <p>{{ asset.description_en_US }}</p>
    <p>{{ asset.is_active }}</p>
    <p>{{ asset.updated_at }}</p>
    <p>{{ asset.created_at }}</p>
</div>
{% endblock content %}

