{% extends "base.html" %}
{% block title_en_US %}{{ post.title_en_US }} - {{ app.config['APP_NAME'] }}{% endblock %}
{% block head_style %}<link href="{{url_for('home_page.static', filename='styles/home.css')}}" rel="stylesheet">{% endblock %} 
{% block content %}
<div class="container-fluid intro-header">
    <div class="row">
        <div class="col-lg-12 col-centered intro-message">
            <h1>{{ post.title_en_US }}</h1>
            <hr class="intro-divider">
            <h3>{{ post.description_en_US }}</h3>
 <!--           
<img class="img-responsive" width="500px" src="{{ url_for('static', filename='images/logo-systemaker-black.png') }}" alt="logo-icon" >
-->
        </div>
    </div>
</div>
{% endblock content %}

{% block taiil_script %}<script src="{{url_for('home_page.static', filename='scripts/home.js')}}"></script>{% endblock %} 