{% extends "base.html" %}
{% block title_en_US %} {{ section.id }} - {{ section['title_%s' %(g.current_lang)] }} - {{ app.config['APP_NAME'] }}{% endblock %}
{% block content %}
<div class="container">
    <h3>{{ section.id }} - {{ section['title_%s' %(g.current_lang)] }}</h3>
    <h4 class="text-right"><a href="/sections"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></h4>
    <hr/>

    <p>{{ section.slug }}</p>

    <!-- HIERARCHIC : PARENT -->
    <p> Parent :
        {% if section.parent %}
            {{ section.parent.slug}}
        {% else %}
            No Parent
        {% endif %}
    </p>

    <!-- HIERARCHIC: CHILDREN -->
    <p> Children : 
        {% if section.children %}
            {% for child in section.children %}
                {{ child.slug }} 
            {% endfor %}
        {% else %}
            No children
        {% endif %}
    </p>



    <p>{{ section['description_%s' %(g.current_lang)] }}</p>
    <!-- MANY-TO-MANY -->
    <p>
        {% if section.users %}
            {% for user in section.users %}
                {{ user.username }}, 
            {% endfor %}
        {% else %}
            No users
        {% endif %}
    </p>
    <!-- MANY-TO-MANY -->
    <p>
        {% if section.items %}
            {% for item in section.items %}
                {{ item.title_en_US }}, 
            {% endfor %}
        {% else %}
            No items
        {% endif %}
    </p>
    <p>{{ section.is_active }}</p>
    <p>{{ section.updated_at }}</p>
    <p>{{ section.created_at }}</p>
</div>
{% endblock content %}

